{% extends "base.html" %}

{% block titulo %} Agregar Proceso {% endblock%}

{% block contenido %}
    <div class="pagetitle">
        <h1>Agregar un proceso</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Home</a></li>
                <li class="breadcrumb-item">Procesos</li>
                <li class="breadcrumb-item">Agregar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
       
        
        {% include 'procesos/form.html' %}
    
</div>
<script>
    document.getElementById('agregarProcesoForm').addEventListener('submit', function (e) {
        const checkboxes = document.querySelectorAll('input[name="equipos"]:checked');
        if (checkboxes.length === 0) {
            e.preventDefault();
            alert('Debe seleccionar al menos un equipo!');
        }
    });
</script>



{% endblock %}



