{% extends "base.html" %}

{% block titulo %} Editar Proceso {% endblock%}

{% block contenido %}
    <div class="pagetitle">
        <h1>Editar proceso</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Home</a></li>
                <li class="breadcrumb-item">Procesos</li>
                <li class="breadcrumb-item">Editar</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
       
        
        {% include 'procesos/form.html' %}
    
</div>



{% endblock %}



