{% extends 'base.html' %}

{% block titulo %}
Asignaciones
{% endblock %}


{% block contenido %}


<div class="pagetitle">
    <h1>Asignaciones</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Home</a></li>
            <li class="breadcrumb-item">Asignaciones</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<a name="" id="" class="btn btn-primary" href="#" role="button">Agregar una nueva asignacion</a>
<br>
<br>

{% endblock %}